/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');




body {
  font-family: 'Poppins', sans-serif;
}

.nav-buttons{
  background-color: rgb(243, 242, 242);
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
}

.input {
  height: 30px;

}

.active{
  background-color: red;
  color: white;
}